<!-- your html code here -->
<div class="body bg-white">
    <div class="container">
        <h1>Portfolio</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quia doloribus repellendus sequi iusto culpa, possimus nobis explicabo amet quisquam qui facere, voluptate dolor temporibus ipsa, expedita tempora vero impedit.</p>
        <div class="container text-justify">
            <div class="row">
            <div class="col">
                <img src="./assets/img/big-project-image.png" class="img-thumbnail border-0" alt="700x400">
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, optio sed. Voluptas corrupti iste quae rerum tempora, eligendi magnam reiciendis adipisci! Amet totam a quia sapiente fuga perspiciatis suscipit voluptatum?</p>
            </div>
            <div class="col">
                <img src="./assets/img/big-project-image.png" class="img-thumbnail border-0" alt="700x400">
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, optio sed. Voluptas corrupti iste quae rerum tempora, eligendi magnam reiciendis adipisci! Amet totam a quia sapiente fuga perspiciatis suscipit voluptatum?</p>
            </div>
            <div class="col">
                <img src="./assets/img/big-project-image.png" class="img-thumbnail border-0" alt="700x400">
                <h2 class="text-primary">Project Name</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, optio sed. Voluptas corrupti iste quae rerum tempora, eligendi magnam reiciendis adipisci! Amet totam a quia sapiente fuga perspiciatis suscipit voluptatum?</p>
            </div>
            </div>
        </div>
    </div>
</div>    